Наш чат работает через текстовую генерацию ответа от GROQ и отправку запросов в NEOAPI для анализа текста и получения метрик.

Сюборка бека:

/docker-compose.yml - конфиг для запуска сервиса через docker compose
/Dockerfile - конфиг для сборки образа docker
/scripts/docker.sh - скрипт для сборки и запуска сервиса через docker
/scripts/docker.test.sh - скрипт для тестирования сервиса через docker
/scripts/docker.http - тесты для http запросов к сервису
/scripts/README.md - описание скриптов

Основной пул работы по беку на python:

/src/service - тут все файлы бека
/src/service/README.md - описание работы с кодом
    
Схема работы сервиса: 
clien -> SERVICE -> GROG_API -> SERVICE -> NEOAPI/client -> SERVICE <- (lazyload from ws NEOAPI metrics) client